                    var jqxhr = $.getJSON("http://twitter.com/statuses/user_timeline/"+item.twitter_screen_name+".json?pMethodName=?",
                    
                        console.log("JqHXR Request successful");
                      })
                      .success(function(data) {
                        // Tweets
                        console.log(data.user.statuses_count)
                        // Following
                        console.log(data.user.friends_count)
                        // Followers Count
                        console.log(data.user.followers_count) 
                        // Lists
                        console.log(data.user.listed_count)                                                               
//                                $("#page_body").append("<div id='tweets_"+i+"' class='tweets'></div>");
                        
                      }
                      $.getJSON("http://twitter.com/statuses/user_timeline/"+item.twitter_screen_name+".json?pMethodName=?",
